@import "tailwindcss";
@import "tailwindcss/utilities";
@import "../styles/global.scss";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

* {
    transition: all 0.25s ease-in-out;
}

body {
    font-family: var(--font-sans);
}
